<div class="header-content">
    <div class="screen-main-title">
        {{'first-question.title' | translate}}
    </div>
    <div class="button-container">
        <button mat-raised-button color="primary" class="action-btn bckg-orange"
            (click)="onClick('2')">{{'first-question.option1' | translate}}</button>
        <button mat-raised-button color="primary" class="action-btn bckg-blue"
            (click)="onClick('1')">{{'first-question.option2' | translate}}</button>
    </div>
</div>