.header-content{
  position: absolute;
  top: 0px;
  background-color: #ebedf9;
  padding: 60px 30px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.screen-main-title {
  font-size: 26px;
  font-weight: 700;
  color: #3f51b5;
}

.screen-sub-title {
  font-size: 24px;
  margin: 20px 0px;
  color: #3f51b5;
}

.title-text {
  font-size: 16px;
  font-style: italic;
}

button.action-btn {
  width: 100%;
  border-radius: 2px;
  margin: 5px 0px;
}

.button-container {
  position: absolute;
  bottom: 0px;
  margin: 30px;
  width: -webkit-fill-available;
}

.bckg-blue {
  background-color: #2ebcce !important;
}

.link {
  font-style: italic;
  word-break: break-all;
}

.wa_btn {
  color: #fff;
  text-decoration: none;
}
