<div class="header-content">
    <div class="screen-main-title">
        {{'second-question.title' | translate}}
    </div>
    <div class="button-container">
        <button mat-raised-button color="primary" class="action-btn bckg-orange" (click)="onClick('1')">
            {{'second-question.option1' | translate}}</button>
        <button mat-raised-button color="primary" class="action-btn bckg-blue"
            (click)="onClick('2')">{{'second-question.option2' | translate}}</button>
        <button mat-raised-button color="primary" class="action-btn bckg-none"
            (click)="onClick('0')">{{'second-question.option3' | translate}}</button>
    </div>
</div>