.header-content {
  position: absolute;
  top: 0px;
  color: white;
  background-color: #485dd6;
  padding: 60px 30px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.screen-main-title {
  font-size: 26px;
  font-weight: 700;
}

.button-container {
  width: -webkit-fill-available;
  padding: 30% 0px;
}

button.action-btn {
  width: 100%;
  border-radius: 2px;
  margin: 5px 0px;
  height: 40px;
}

.bckg-orange {
  background-color: #ffb700 !important;
}

.bckg-blue {
  background-color: #2ebcce !important;
}

.bckg-none{
  background-color: transparent;
  border: 1px solid white;
}