<div class="content">
    <h2 class="screen-title">
        Up to your knowledge, Have you been in contact with people coming from China, Italy, Iran, Japan or South Korea?
    </h2>
    <div class="model-content">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="inContact">
            <mat-radio-button class="example-radio-button" [value]="1" (change)="radioChange($event)">
                Yes
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="2" (change)="radioChange($event)">
                No
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<div class="button-container">
    <button mat-raised-button color="primary" class="action-btn" (click)="onClick($event)"
        [disabled]="!isChosen">Next</button>
</div>