<div class="card-wrapper" [ngClass]="rtl ? 'rtl' : ''">
  <mat-card class="form-card">
    <mat-card-content>
      <mat-horizontal-stepper [linear]="true" #stepper [direction]='rtl'>
        <div *ngIf="!alreadySubmitted">
          <mat-step>
            <app-welcome (onNext)="onStepperNext(stepper)"></app-welcome>
          </mat-step>
          <mat-step>
            <app-first-question (onNext)="onQuestNext($event, stepper)"></app-first-question>
          </mat-step>
          <mat-step>
            <app-second-question (onNext)="onQuestNext($event, stepper)"></app-second-question>
          </mat-step>
          <mat-step>
            <app-third-question (onNext)="onQuestNext($event, stepper)"></app-third-question>
          </mat-step>
          <mat-step>
            <app-fourth-question (onNext)="onFinalQuestNext($event, stepper)"></app-fourth-question>
          </mat-step>
          <!-- <mat-step *ngIf="!updateMode">
            <app-phone-number (onNext)="onPhoneNumberNext($event, stepper)"></app-phone-number>
          </mat-step> -->
          <mat-step>
            <app-share [link]="sharableLink" (onNext)="onStepperNext(stepper)"></app-share>
          </mat-step>
          <mat-step>
            <app-community (onNext)="onCommunityNext($event, stepper)"></app-community>
          </mat-step>
        </div>
        <mat-step>
          <app-main-screen [link]="sharableLink" [info]="info" (onNext)="onRestartStepper(stepper)"></app-main-screen>
        </mat-step>
      </mat-horizontal-stepper>
      <app-hint-section *ngIf="showHint"></app-hint-section>
    </mat-card-content>
  </mat-card>
</div>