.card-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
}

.form-card {
  margin: auto;
  min-height: 500px;
  width: 65%;
  height: 60%;
  max-width: 700px;
  max-height: 600px;
  min-width: 350px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 8px 8px 40px 5px black;
}

mat-card-content.mat-card-content {
  width: 100%;
}

.background-img {
  width: 100%;
  height: 100%;
  position: fixed;
  filter: brightness(50%);
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none;
}

:host ::ng-deep .mat-horizontal-content-container {
  text-align: center;
}

mat-card.mat-card {
  vertical-align: middle;
  display: flex;
}

.f-r {
  float: right;
}

.f-l {
  float: left;
}

.question {
  margin-bottom: 10%;
}

.button-container {
  margin-top: 10%;
}

mat-radio-button {
  margin: 0px 7% 0px 7%;
}

.input-data {
  width: 70%;
}

.mat-raised-button.mat-primary {
  background-color: #2a4116;
}

:host ::ng-deep re-captcha > div {
  margin: auto;
}

.input-community {
  margin-bottom: 10%;
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #2a4116;
}
:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
  background-color: #2a4116;
}

.thanks {
  color: #2a4116;
}

.thanks-img {
  width: 50%;
}

.link {
  font-style: italic;
}
