.screen-title {
  margin: 6%;
}

.button-container {
  bottom: 0px;
  margin: 6%;
  text-align: center;
}

.text {
  margin: 6%;
}

.action-btn {
  min-width: 100px;
  margin: 0px 2%;
}

.wa_btn {
  color: #fff;
  text-decoration: none;
}

.content-info{
     min-height: 300px;
}

.result-box{
  width: fit-content;
  padding: 5%;
  box-shadow: 1px 1px 10px 0px #6e7577;
  margin: auto;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.risk{
  font-weight: 600;
}

.red-bckg{
  background-color: #d01818;
}

.orange-bckg{
  background-color: orange;
}

.yellow-bckg{
  background-color: #e8d103;
}

.black-bckg{
  background-color: black;
}