.header-content{
  position: absolute;
  top: 0px;
  color: white;
  background-color: #485dd6;
  padding: 60px 30px;
  height: 25%;
  width: -webkit-fill-available;
}

.screen-main-title{
  font-size: 26px;
  font-weight: 700;
}

.screen-sub-title{
  font-size: 26px;
}

.title-text{
  font-size: 16px;
}

.body-box{
  position: absolute;
  margin: 30px;
  width: -webkit-fill-available;
  padding: 35px;
  color: white;
  top: 20%;
}

.body-box-text{
  font-size: 40px;
}

.body-box-text2{
  font-size: 36px;
}

.body-box-text-imp{
  font-weight: bold;
  font-size: 36px;
}

.button-container{
  position: absolute;
  bottom: 0px;
  margin: 30px;
  width: -webkit-fill-available;
}

button.action-btn{
  width: 100%;
  border-radius: 2px;
  margin: 5px 0px;
}

.data-section{
  position: absolute;
  bottom: 100px;
  height: 115px;
  font-style: italic;
  padding: 0px 30px;
  opacity: 70%;
}

.text2{
  font-weight: 600;
  margin-top: 5px;
}

.bckg-blue {
  background-color: #2ebcce !important;
}

.link {
  font-style: italic;
  word-break: break-all;
}

.wa_btn {
  color: #fff;
  text-decoration: none;
}

.red-bckg{
  background-color: #ff2d1d;
}

.orange-bckg{
  background-color: #ff6e10;
}

.yellow-bckg{
  background-color: #ffb214;
}

.black-bckg{
  background-color: #3646a2;
}