<div class="content-info">
    <h2 class="screen-title">
        Coronavirus Busted!
    </h2>
    <div class="result-box {{backgroundState}}">
        <div>{{info?.connNb}} Connections</div>
        <div class="risk">{{info?.riskState}}</div>
    </div>
    <div class="text">
        United we win! Would you like to share with your network to check in on Coronavirus Busters?
    </div>
    <div class="text">
        You can also update your data by taking the 10 seconds survey.
    </div>
</div>
<div class="button-container">
    <button mat-raised-button color="primary" class="action-btn"><a [href]="wtspUrl + link"
            data-text="Take a quick survey about Coronavirus:" class="wa_btn wa_btn_s">Invite</a></button>
    <button mat-raised-button color="primary" class="action-btn" (click)="onClick($event)">Take survey</button>

</div>