<div class="header-content">
    <div class="screen-main-title">
        {{'welcome.maintitle' | translate}}
    </div>
    <div class="screen-sub-title">
        {{'welcome.subtitle' | translate}}
    </div>
    <div class="seperator"></div>
    <div class="title-text">
        {{'welcome.text1' | translate}}
    </div>
</div>
<div class="body-box">
    <div class="body-box-text">
        {{'welcome.text2part1' | translate}}
    </div>
    <div class="body-box-text-imp">
        {{'welcome.text2part2' | translate}}
    </div>
</div>
<div class="recaptcha-section">

    <re-captcha (resolved)="resolved($event)" siteKey="myAppKey"></re-captcha>
</div>

<div class="button-container">
    <button mat-raised-button color="primary" class="action-btn"
        (click)="onClick($event)">{{'welcome.action' | translate}}</button>
</div>