<div class="text text-hint">
    If there are any changes in your information you can update it by resubmitting your responses
</div>
<div class="text text-hint">
    The information you are providing on Corona Busters will allow to assess risk and inform you of potential
    threats so
    you can take preventive action. Your personal data will remain strictly confidential and will not shared
    be with any
    party without your explicit consent. For more information, you can review our <a class="privacy-policy-link">privacy
        and security policy</a>.
</div>