:host {
  position: absolute;
  padding: 20px;
  bottom: 0px;
  font-size: 12px;
  background-color: #ebedf9;
}

.text-hint {
  font-style: italic;
  opacity: 70%;
}

.text2 {
  margin-top: 15px;
}

a.privacy-policy-link {
  cursor: pointer;
  color: blue;
}

a.privacy-policy-link:hover {
  text-decoration: underline;
}
